{% load static %}
<!--{% static "images" as baseurl %} -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="{% static 'fonts/linearicons/style.css' %}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href=" {% static 'css/style.css' %}">
	</head>

	<body>
	     <p>{{place.user}}</p>
        {% for item in place%}
		<div class="wrapper">
			<div class="inner">
				<!--<img src="{{baseurl}}/{{place1.img}}" alt="" class="image-1"> -->
				<img src="{{item.img.url}}" alt="" class="image-1">
				<form  action="register" method="POST">
				    {% csrf_token %}
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" name='first_name' placeholder={{item.user}}>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" name='last_name' placeholder={{item.userlast}}>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" name='user_name' placeholder={{item.username}}>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<input type="tel" class="form-control" name='phone_no' placeholder={{item.phno}}>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="email" class="form-control" name='mail_id' placeholder={{item.mail}}>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name='password' placeholder={{item.pas}}>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name='password1' placeholder={{item.cnfpass}}>
					</div>
					<button type= "submit" href ='register'>
						<span>Register</span>
					</button>
					<div class="form-holder">
					 <center>
					   <br><h4>Already have a Account <br>
					   <a href='login'>Login Here</a></p>
					   </center>
					</div>
				</form>
				<!--<img src="{{baseurl}}/{{place1.img2}}" alt="" class="image-2"> -->
				<img src="{{item.img2.url}}" alt="" class="image-2">
			</div>
			
		</div>
		{% endfor%}
		{% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

        {% endif %}
		
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>